<h1>StaticPages#help</h1>
<p>
Get help on the Ruby Rails Tutorial at the <a href="http://www.railstutorial.org/help">Rails Tutorial help page </a>.

To get help on this sample, other than go fuck yourself if you're not a mac fanboy, please see the <a href="http://www.railstutorual.org/book"><em>Ruby on Rails Tutorial On Fucking Yourself</em> book </a>.
</p>


